version: '3.8'

services:
  cyberflynodeui:
    image: "cyberfly/cyberfly_node_ui:latest"
    restart: always
    ports:
      - "31000:80" #nginx server port
    depends_on:
      - cyberflynode

  cyberflynode:
    image: "cyberfly/cyberfly_node:latest"
    restart: always
    ports:
      - "31001:31001/udp" #quin port
      - "31001:31001/tcp" #quin port
      - "31002:31002"
      - "31003:31003" #Cyberfly api port
      - "31006:31006" #relay port
    volumes:
      - ./data:/app/data
    environment:
      - KADENA_ACCOUNT=k:your_kadena_address
      - NODE_PRIV_KEY=your_node_private_key
      - MQTT_HOST=mqtt://cyberflymqtt
    depends_on:
      - cyberflymqtt

  cyberflymqtt:
    image: "cyberfly/cyberfly_mqtt:latest"
    restart: always
    ports:
      - "31004:1883" #mqtt tcp port
      - "31005:9001" #mqtt websocket port
  
  watchtower:
    image: "containrrr/watchtower"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    environment:
      - WATCHTOWER_POLL_INTERVAL=30
      - WATCHTOWER_CLEANUP=true
